@font-face {
    font-family: "Figtree-extra";
    src: url("assets/fonts/static/Figtree-ExtraBold.ttf");
}

@font-face {
    font-family: "Figtree-semi";
    src: url("assets/fonts/static/Figtree-SemiBold.ttf");
}

body{
    background-color: hsl(47, 88%, 63%);
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 90vh;
}

.box{
    width: 20em;
    height: 28em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 8px solid black;
    outline: 2px solid black;
    border-left: 0;
    border-top: 0;
}

#art{
    width: 17.813rem;
    height: 12.5rem;
    left: 1.15rem;
    position: relative;
    border-radius: 15%;
}

#learning{
    color: black;
    background-color: hsl(47, 88%, 63%);
    width: 5.625rem;    
    height: 1.875rem;
    font-size: 16px;
    bottom: 10px;
    left: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Figtree-extra";
}

#publish-date{
    font-family: "Figtree-semi";
    font-size: 16px;
    position: relative;
    left: 20px;
    bottom: 10px;
    color: hsl(0, 0%, 7%);
}

#title{
    font-size: 20px;
    position: relative;
    left: 20px;
    bottom: 5px;
    font-family: "Figtree-extra";
}

#title:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

#paragraph{
    font-family: "Figtree-semi";
    font-size: 14px;
    position: relative;
    left: 20px;
    bottom: 7px;
    color: hsl(0, 0%, 42%);
}

#avatar{
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 20px;
    bottom: 5px;
}

#author{
    position: relative;
    font-family: "Figtree-extra";
    left: 60px;
    bottom: 50px;
}